*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    background-image: url(bg4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
    color: rgb(0, 0, 0);
    font-family: "gilroy";
}

#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 400px;
    width: 100vw;
    height: fit-content;
    padding-bottom: 20px;
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: rgb(0, 0, 0);
}

.nav h1{
    font-size: 25px;
    color: white;
    text-transform:capitalize;
}

.card{
    width: 90%;
    height: fit-content;
    backdrop-filter: blur(3px);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    overflow: hidden;
}

.card img{
    width: 100%;
    border-bottom: 2px solid rgb(0, 0, 0) ;
    /* opacity: .5; */
}

.des{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: white;
}

.des1 h5{
    font-family:'Lucida Sans';
    color: rgb(65, 245, 116);
    font-size: 12px;

}

.des a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: 'gilroy';
    background-color: rgb(161, 161, 161);
    padding: 10px 30px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid black;
}
